<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tytuły</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table class="border-1px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <% books.forEach((book) => { %>
        <tr>
            <td><%= book.id %></td>
            <td><%= book.name %></td>
            <td><%= book.author %></td>
            <td>
                <form method="POST" action="/delete/<%= book.id %>">
                    <input type="submit" value="Usuń">
                </form>
                <form method="POST" action="/update/<%= book.id %>">
                    <input type="submit" value="Zmień">
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>
    <form action="/add" method="POST">

        <label for="name">Nowy tytuł: </label>
        <input id="name" type="text" name="name">
        <label for="author">Autor: </label>
        <input id="author" type="text" name="author">
        <input type="submit" value="DODAJ">
    </form>
</body>
</html>